<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie App</title>
    <script src="angular.js"></script>
    <script src="angular-ui-router.js"></script>
    <script src="movieapp.js"></script>
  </head>
  <body ng-app="MovieApp" ng-controller="MainController">
    <button ng-click="clickNowPlaying()">Now Playing</button><br>
    <input type="text" name="name" ng-model="id">
    <button ng-click="clickMovieDetails()">Get Movie Details</button><br>
    <input type="text" name="name" ng-model="query">
    <button ng-click="clickMovieSearch()">Movie Search</button>
  </body>
</html>
